#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

.header {
  font-family: Bangers, Arial, Helvetica, sans-serif;
  font-size: 2rem;
}